<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        @*<a class="nav-link" href="index.html">
                Home
                <span class="sr-only">(current)</span>
            </a>*@
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
    </li>

    <li class="nav-item">
        @Html.ActionLink("Fleet", "FleetView", "Fleet", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Offer", "OfferView", "Offer", null, new { @class = "nav-link" })
    </li>



    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="blog.html">Blog</a>
            <a class="dropdown-item" href="team.html">Team</a>
            <a class="dropdown-item" href="testimonials.html">Testimonials</a>
            <a class="dropdown-item" href="terms.html">Terms</a>
        </div>
    </li>

    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>

    <li class="nav-item">
        @Html.ActionLink("Contact Us", "Index", "Contact", null, new { @class = "nav-link" })
    </li>
</ul>
