<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Group 9</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/owl.css">
    <link href="~/Content/css/main.css" rel="stylesheet" />

    <!-- Trang chi tiet xe -->
    <link href="~/Content/bootstrap4/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/Content/plugins/themify-icons/themify-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link href="~/Content/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/css/single_responsive.css" rel="stylesheet" />
    <link href="~/Content/css/single_styles.css" rel="stylesheet" />



</head>

<body>


    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div><!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg nav-page-top">
            <div class="container ">
                <a style="margin-top: 3px !important" class="navbar-brand" href="/Home/Index"><h2>Car  <em>Rental</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" id="nav-list">
                        @{ Html.RenderAction("MenuTop", "Home");}
                        @{
                            Html.RenderPartial("_HeaderNav");
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    <!-- Page Content -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/~/vendor/jquery/jquery.js"></script>


    <!-- Additional Scripts -->
    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/js/owl.js"></script>

    @RenderSection("script", required: false)

    @RenderSection("book", required: false)
</body>
</html>