@model IEnumerable<Do_An_Nhom.Models.tblXe>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/items/@item.Image" alt="">

            <div class="down-content">
                <h4>@item.MaXe</h4>

                <h6><small>Giá chỉ từ: </small> @item.tblMucPhi.DonGia <small>/ 24h</small></h6>

                <p>@if (item.Sub == null) {} else { item.Sub.Substring(0, 60); } ...</p>
 


                  <small>
 

                      <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>

}




@*<div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/product-2-370x270.jpg" alt="">

            <div class="down-content">
                <h4>Large: Premium</h4>

                <h6><small>from</small> $99 <small>per weekend</small></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam!</p>

                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/product-3-370x270.jpg" alt="">

            <div class="down-content">
                <h4>Large: Premium</h4>

                <h6><small>from</small> $99 <small>per weekend</small></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam!</p>

                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/product-4-370x270.jpg" alt="">

            <div class="down-content">
                <h4>Large: Premium</h4>

                <h6><small>from</small> $99 <small>per weekend</small></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam!</p>

                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/product-5-370x270.jpg" alt="">

            <div class="down-content">
                <h4>Large: Premium</h4>

                <h6><small>from</small> $99 <small>per weekend</small></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam!</p>

                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="product-item">
            <img src="~/Content/images/product-6-370x270.jpg" alt="">

            <div class="down-content">
                <h4>Large: Premium</h4>

                <h6><small>from</small> $99 <small>per weekend</small></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam!</p>

                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>

                <span>
                    <a href="#" data-toggle="modal" data-target="#exampleModal">Book Now</a>
                </span>
            </div>
        </div>
    </div>*@