
@{
    ViewBag.Title = "Index";
}

<div class="best-features about-features" style="padding-top: 98px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/Content/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Công ty Cổ phần Car Rental </h4>
                    <p>
                        hoạt động trên nền tảng ứng dụng cho thuê xe tự lái 4-7 chỗ, theo mô hình kinh tế sẻ chia.

                        Car Rental được thành lập với sứ mệnh mang đến nền tảng công nghệ hiện đại kết nối chủ xe ô tô và hành khách theo cách Nhanh Nhất, An Toàn Nhất và Tiết Kiệm Nhất.

                        Chúng tôi hướng tới việc xây dựng một cộng đồng chia sẻ ô tô văn minh với nhiều tiện ích thông qua ứng dụng trên di động, nhằm nâng cao chất lượng cuộc sống của cộng đồng.
                        <br><br>Car rental đã có mặt ở hầu hết các quận huyện TPHCM và các tỉnh thành lớn như Hà Nội, Hải Phòng, Đà Nẵng, Đà Lạt, Long An và đang tiếp tục mở rộng sang các tỉnh thành khác.
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                </div>

                <h5>Lorem ipsum dolor sit amet.</h5>

                <p>Tháng 12 với khí hậu dễ chịu và cảnh sắc vào đông tuyệt đẹp chính là thời điểm thích hợp du khách lên kế hoạch và tham quan các địa điểm nổi tiếng. Nếu bạn đang tìm kiếm một số điểm đến lý tưởng trong tháng 12, dưới đây là một số gợi ý khá lý tưởng cho chuyến đi của bạn.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>
            </div>
        </div>
    </div>
</div>

