@model Do_An_Nhom.Models.tblLoaiDichVu

@{
    ViewBag.Title = "Delete";
}




<div>
    <hr />
    <dl class="dl-horizontal  col-md-10 m-auto" ">
        <h3 class="text-red">Bạn có chắc chăn muốn xóa loại dịch vụ này không?</h3>
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiDV)
        </dd>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }


    </dl>


</div>
